.categories_container {
  background-color: #f6f5fb;
  width: 100%;
  min-height: 75vh;
}
.empty_product {
  background-color: #ffffff;
  width: 600px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 10px 0px #0000001c;
}
.empty_product p {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  color: #e6e6e6;
}
.aside_top {
  height: 470px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 14px 35px 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  overflow: auto;
    transition: all .3s ease-in-out;
}
.aside_top::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0;
}

/* Scrollbar track (arka plan) */
.aside_top::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

/* Scrollbar thumb (hərəkət edən hissə) */
.aside_top::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: all .5s ease-in-out;
}
.aside_top:hover.aside_top::-webkit-scrollbar-thumb{
  background-color: #555;
}
/* Hover zamanı thumb */
.aside_top::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.aside_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 221%;
  cursor: pointer;
}

.aside_links li {
  position: relative;
  width: max-content;
  padding-bottom: 3px;
}
.aside_links li:hover {
  color: #2b3043;
}
/* .aside_links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #76CB4F;
  transition: width 0.3s ease-in-out;
} */
/* 
.aside_links li:hover::after {
  width: 100%;
} */
.categories_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2b3043;
  padding-left: 10px;
}
.categories_sub_title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 221%;
  letter-spacing: 0%;
  color: #2b3043;
}
.categories_body_container {
  display: flex;
  gap: 20px;
}
.category_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  height: max-content;
  margin-top: 10px;
  width: 610px;
}
