.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #2b3043;
}
.header_container {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_links li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #2b3043;
}
.adress_container {
  width: 314px;
  padding: 8px 12px;
  border-radius: 10px;
  height: 40px;
  background-color: #f6f5fb;
}
.addres_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2b3043;
  margin-bottom: 4px;
}
.addres_adress {
  font-weight: 300;
  font-size: 10px;
  line-height: 100%;
  color: #2b3043;
}
.search_input {
  width: 400px;
  /* padding: 10px 25px; */
  padding-left: 10px;
  align-content: center;
  border-radius: 10px;
  height: 40px;
  background-color: #f6f5fb;
}
.search_input input {
  outline: none;
  width: 100%;
}
.search-wrapper {
  position: relative;
}
.search_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
.ovelay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.search-input {
  width: 300px;
  font-size: 16px;
  padding-left: 10px;
  align-content: center;
  height: 40px;
  background-color: #f6f5fb;
}

.search-popup {
  margin-top: 30px;
  width: 600px;
  height: max-content;
  max-height: 300px;
  overflow-y: hidden;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 12px 0;
  padding-top: 0;
  z-index: 999;
}
.serach_content {
  height: max-content;
  max-height: 300px;
  overflow-y: auto;
}
.search-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-item:hover {
  background-color: #f4f4f4;
}

.item-img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  object-fit: contain;
}

.item-info .item-title {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.item-info .item-price {
  font-size: 13px;
  color: #777;
  margin: 2px 0 0 0;
}
.mobile_menu_icon {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .adress_container {
    width: 150px;
  }
  .search_input {
    width: 250px;
  }
  .header_links {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .search_input {
    margin-left: 30px;
  }
  .adress_container {
    display: none;
  }
  .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .header_links {
    display: none;
  }
  .mobile_menu_icon {
    display: block;
    margin-left: auto;
  }
  .search_input {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .title {
    font-size: 32px;
  }
}
